@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 220 13% 27%;
    --card: 208 100% 98%;
    --card-foreground: 220 13% 27%;
    --popover: 208 100% 98%;
    --popover-foreground: 220 13% 27%;
    --primary: 202 100% 84%;
    --primary-foreground: 220 13% 15%;
    --secondary: 210 60% 93%;
    --secondary-foreground: 220 13% 27%;
    --muted: 210 40% 90%;
    --muted-foreground: 215 16% 47%;
    --accent: 35 100% 60%;
    --accent-foreground: 220 13% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 210 40% 88%;
    --ring: 35 100% 60%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 202 100% 75%;
    --primary-foreground: 220 13% 15%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 35 100% 60%;
    --accent-foreground: 220 13% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 35 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
